header {
  background-image: url("../images/moss.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

p {
  max-width: 600px;
  margin: 0 auto 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
}

img {
  width: 100%;
  height: auto;
  float: left;
  margin: 3px 5px 3px 0px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-image: url("../images/moss.jpg");
  background-size: cover;
}

h1,
h4 {
  color: #ffc107;
}
